MODEL_PATH=models/churn_model_pipeline.pkl
PORT=8000

# AWS Configuration
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_DEFAULT_REGION=your-aws-reagion
S3_BUCKET_NAME=your-aws-bucket-name